requests
html2text
jupyter
tqdm
ollama
chromadb
langchain
pandas
python-dotenv
smolagents[litellm,gradio]
arize-phoenix
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-smolagents